
      img {
        width: auto;
        height: 200px;
        margin-bottom: 10px;
      }
      .container {
        margin-top: 50px;
    border: 1px solid;
    padding: 30px;
      }
      .title {
        border-bottom: 2px solid brown;
    margin-bottom: 10px;
    margin-left: 0;
      }
      .item {
        margin-bottom: 5px;
        padding: 0 15px;
        text-align: center;
      }
      .item div {
        border: 1px solid #baadad;
        padding: 30px 0;
      }
      button {
        background-color: white;
        border: 1px solid green ;
        color: green;
      }
    